.background-image {
    background-image: url("./bg_image.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* padding: 50px 0 50px 0; */
}
.footer {
    bottom:0;
    width:100%;
 }