@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
/* // after body element, add the code below. It means the ID #fonts in body element will apply this specific style. */
 body #fonts {
font-family: 'Montserrat', sans-serif;
}
.footer {
    bottom:0;
    width:100%;
 }